* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
  background-color: #0e5e6f;
  align-items: center;
  justify-content: center;
}
.calculator {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 52, 52);
  border: 2px;
  height: 75%;
  width: 400px;
  border: 2px solid #555;
  border-radius: 5px;
}
.btn-area {
  flex: 1 1 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.screen {
  flex: 0 1 120px;
  background-color: #ffefd6;
  margin-bottom: 30px;
}
.btn {
  margin: 5px;
  font-family: serif;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
}
.clear-delete {
  display: flex;
  gap: 10px;
}

.clear-delete .btn {
  gap: 1rem;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  background-color: #f2bac4;
}

.btn:hover {
  background-color: #3a8891;
}
.clear-delete .btn:hover {
  background-color: rgb(172, 81, 81);
}
